{% extends "layout.html" %}

{% block title %}
    History
{% endblock %}

{% block main %}
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Registration</th>
                <th>Course</th>
                <th>Status</th>
                <th>Time</th>
            </tr>
        </thead>
        <tbody>
            {% for registrant in registrants %}
                <tr>
                    <td>{{ registrant.username }}</td>
                    <td>{{ registrant.course }}</td>
                    <td>{{ registrant.status }}</td>
                    <td>{{ registrant.datetime }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

{% endblock %}
