{% extends "layout.html" %}

{% block title %}
    My Courses
{% endblock %}

{% block main %}
    <h4>My Taken Courses</h4><br>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Course</th>
                <th>Teacher</th>
            </tr>
        </thead>
        <tbody>
            {% for row in courses %}
                <tr>
                    <td>{{ row.course }}</td>
                    <td>{{ row.teacher }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

{% endblock %}
